body {
    background-color: #3060a0;
  }

  #clearAllBtn:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #createBtn:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #completeBtn, #deleteBtn, #createBtn, #clearAllBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #completeBtn {
    background-color: #45a049;
  }

  #clearAllBtn {
    background-color: #d9534f;
  }

  #createBtn {
    background-color: #45a049;
  }
  
  #completeBtn:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #deleteBtn {
    background-color: #d9534f;
  }
  
  #deleteBtn:hover {
    background-color: #c9302c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* App Container */
  .App {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6; /* Slightly darker background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Navigation Bar */
  .navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #575757;
    color: white;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* To-Do List */
  .ToDoList {
    margin-top: 20px;
  }
  
  .ToDoList h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
  }
  
  .ToDoList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ToDoList li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ToDoList input[type="checkbox"] {
    margin-left: 10px;
  }
  
  /* Create and Update Forms (if applicable) */
  .form-container {
    margin-top: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  